.DS_Store
.vscode
.idea
.env

/build
/coverage
/node_modules
/runtime
/plugin
/react
/utils
/iframe

# libraries
npm-debug.log

index.d.ts
common.d.ts
constants.d.ts

*.d.ts
example/package-lock.json
example/build
example/node_modules

.history
node_modules
/lib
/dist
/cache