name: Code quality

on:
  push:
    branches: [master]
  pull_request:

jobs:
  verify_files:
    name: Verify Files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node 22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
      - name: Install Packages
        run: npm ci
      - name: Lint Files
        run: npm run lint
      - name: Typecheck
        run: npm run typecheck

  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node 22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
      - name: Install Packages
        run: npm ci
      - name: Unit Tests
        run: npm run test
